-- 1. Tạo Database nếu chưa tồn tại
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'QLTH')
BEGIN
    CREATE DATABASE QLTH;
END
GO

-- 2. Chuyển ngữ cảnh sang database vừa tạo
USE QLTH;
GO

-- 3. Cấu hình môi trường
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLLopHoc](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NULL,
	[GradeLevelId] [int] NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudents] [int] NULL,
	[IsActive] [bit] NULL,
	[CourseID] [int] NULL,
	[SchoolYear] [nvarchar](150) NULL,
 CONSTRAINT [PK_QLLopHoc1] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLThongBaoClass]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLThongBaoClass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationID] [int] NULL,
	[ClassID] [int] NULL,
	[IsActive] [bit] NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [nvarchar](250) NULL,
	[SenDate] [datetime] NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_QLThongBaoClass1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewThongBao]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewThongBao]
AS
SELECT dbo.QLThongBaoClass.ID, dbo.QLThongBaoClass.NotificationID, dbo.QLThongBaoClass.ClassID, dbo.QLThongBaoClass.IsActive, dbo.QLThongBaoClass.Title, dbo.QLThongBaoClass.[Content], dbo.QLThongBaoClass.SenDate, 
                  dbo.QLLopHoc.ClassName, dbo.QLThongBaoClass.UserName
FROM     dbo.QLThongBaoClass INNER JOIN
                  dbo.QLLopHoc ON dbo.QLThongBaoClass.ClassID = dbo.QLLopHoc.ClassID
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[Password] [nvarchar](200) NULL,
	[IsFirstLogin] [bit] NULL,
	[Date] [datetime] NULL,
	[Count] [int] NULL,
	[WebAuthnId] [nvarchar](max) NULL,
	[WebAuthnPublicKey] [nvarchar](max) NULL,
	[WebAuthnSignCount] [int] NULL,
 CONSTRAINT [PK_Account1_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminMenu]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminMenu](
	[AdminMenuID] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[ItemLevel] [int] NULL,
	[ParentLevel] [int] NULL,
	[ItemOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[ItemTarget] [nvarchar](20) NULL,
	[AreaName] [nvarchar](20) NULL,
	[ControllerName] [nvarchar](20) NULL,
	[ActionName] [nvarchar](20) NULL,
	[Icon] [nvarchar](50) NULL,
	[IdName] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdminMenu] PRIMARY KEY CLUSTERED 
(
	[AdminMenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pass_reset]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pass_reset](
	[Reset_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Token] [nvarchar](255) NULL,
	[CreateAT] [datetime] NULL,
 CONSTRAINT [PK_Pass_reset1] PRIMARY KEY CLUSTERED 
(
	[Reset_ID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentResponseModel]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentResponseModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDescription] [nvarchar](250) NULL,
	[TransactionId] [nvarchar](250) NULL,
	[OrderId] [nvarchar](250) NULL,
	[PaymentMethod] [nvarchar](250) NULL,
	[PaymentId] [nvarchar](250) NULL,
	[Success] [bit] NULL,
	[Token] [nvarchar](250) NULL,
	[VnPayResponseCode] [nvarchar](250) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Date] [datetime] NULL,
	[StudentID] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentResponseModel1_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLBaiDang]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLBaiDang](
	[PostID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](225) NULL,
	[Abstract] [nvarchar](225) NULL,
	[Contents] [ntext] NULL,
	[Images] [nvarchar](200) NULL,
	[Link] [nvarchar](200) NULL,
	[Anthor] [nvarchar](30) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[PostOrder] [int] NULL,
	[MenuID] [int] NULL,
 CONSTRAINT [PK_QLDangBai] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLBoMon]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLBoMon](
	[department_ID] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLBoMon] PRIMARY KEY CLUSTERED 
(
	[department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLDiem]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLDiem](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NULL,
	[SubjectID] [int] NULL,
	[SemesterID] [int] NULL,
	[OralScore1] [float] NULL,
	[OralScore2] [float] NULL,
	[OralScore3] [float] NULL,
	[Quiz15Min1] [float] NULL,
	[Quiz15Min2] [float] NULL,
	[MidtermScore] [float] NULL,
	[Final_score] [float] NULL,
	[AverageScore] [float] NULL,
	[GradeCategory] [nvarchar](20) NULL,
	[Create_date] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Notes] [nvarchar](150) NULL,
	[TeacherID] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsLocked] [bit] NULL,
	[DigitalSignature] [nvarchar](max) NULL,
 CONSTRAINT [PK_QLDiem1] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLGiaoVien]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLGiaoVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [nvarchar](50) NULL,
	[FullName] [nvarchar](150) NULL,
	[Birth] [datetime] NULL,
	[Gender] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[StatusTeacher] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[Nation] [nvarchar](15) NULL,
	[Religion] [nvarchar](15) NULL,
	[GroupDV] [nvarchar](50) NULL,
	[NumberPhone] [nvarchar](10) NULL,
	[NumberBHXH] [nvarchar](15) NULL,
	[IsActive] [bit] NULL,
	[department_ID] [int] NULL,
	[Hamlet] [nvarchar](150) NULL,
	[Commune] [nvarchar](150) NULL,
	[Province] [nvarchar](150) NULL,
	[Nationality] [nvarchar](150) NULL,
	[Images] [nvarchar](150) NULL,
	[PublicKey] [nvarchar](max) NULL,
 CONSTRAINT [PK_QLGiaoVien2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLGVMonHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLGVMonHoc](
	[TeacherID] [nvarchar](50) NULL,
	[SubjectID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLHocKy]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLHocKy](
	[SemesterID] [int] IDENTITY(1,1) NOT NULL,
	[semester_name] [nvarchar](50) NULL,
	[semester_code] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLHocKy] PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLHocSinh]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLHocSinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Birth] [date] NULL,
	[Gender] [nvarchar](20) NULL,
	[Address] [nvarchar](150) NULL,
	[Nation] [nvarchar](20) NULL,
	[Religion] [nvarchar](20) NULL,
	[NumberPhone] [nvarchar](12) NULL,
	[IsActive] [bit] NULL,
	[Images] [ntext] NULL,
	[Hamlet] [nvarchar](150) NULL,
	[Commune] [nvarchar](150) NULL,
	[Province] [nvarchar](150) NULL,
	[Nationality] [nvarchar](150) NULL,
	[StatusStudent] [nvarchar](150) NULL,
 CONSTRAINT [PK_QLHocSinh1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLHocSinhLopHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLHocSinhLopHoc](
	[HocSinhLopHocID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[ClassID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SemesterID] [int] NULL,
	[CourseID] [int] NULL,
	[IsPromoted] [bit] NULL,
 CONSTRAINT [PK_QLHocSinhLopHoc1_1] PRIMARY KEY CLUSTERED 
(
	[HocSinhLopHocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLHoSoHoa]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLHoSoHoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[DocumentType] [nvarchar](255) NOT NULL,
	[Attachment] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_QLHoSoHoa12] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLKhoaBieu]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLKhoaBieu](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[SemesterID] [int] NULL,
	[ClassID] [int] NULL,
	[SubjectID] [int] NULL,
	[TeacherID] [nvarchar](50) NULL,
	[Notes] [ntext] NULL,
	[IsActive] [bit] NULL,
	[Startdate] [date] NULL,
	[Enddate] [date] NULL,
	[Period] [int] NULL,
	[DayOfWeek] [int] NULL,
	[Homeroomteacher] [nvarchar](100) NULL,
	[WeekNumber] [int] NULL,
 CONSTRAINT [PK_QLKhoaBieu1_1] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLKhoaHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLKhoaHoc](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[Cohort] [int] NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLKhoi]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLKhoi](
	[GradeLevelId] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLKhoi] PRIMARY KEY CLUSTERED 
(
	[GradeLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLLichSuBD]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLLichSuBD](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[PreviousBalance] [decimal](18, 2) NOT NULL,
	[ChangeAmount] [decimal](18, 2) NOT NULL,
	[NewBalance] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ChangedAt] [datetime] NOT NULL,
	[Object] [nvarchar](50) NULL,
	[SemesterID] [int] NULL,
 CONSTRAINT [PK_QLLichSuBD2] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLLichSuMuonPhong]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLLichSuMuonPhong](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Purpose] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_QLLichSuMuonPhong1] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLMonHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLMonHoc](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
	[NumberOfLesson] [int] NULL,
	[Semester] [nvarchar](20) NULL,
	[Link] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[department_ID] [int] NULL,
 CONSTRAINT [PK_QLMonHoc1] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLPhanAnh]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLPhanAnh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NULL,
	[SubmitDate] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[AttachedFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_QLPhanAnh1_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLPhanCongDayHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLPhanCongDayHoc](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [nvarchar](50) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsHomeroomTeacher] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLPhatSinh]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLPhatSinh](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[AmountOut] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [bit] NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[DiscountRate] [decimal](5, 2) NULL,
	[Object] [nvarchar](50) NULL,
	[SemesterID] [int] NULL,
 CONSTRAINT [PK_QLPhatSinh1_1] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLPhongHoc]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLPhongHoc](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_QLPhongHoc1] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSoDauBai]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSoDauBai](
	[SoDauBaiID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[TeachingDate] [date] NOT NULL,
	[LessonContent] [nvarchar](1000) NULL,
	[StudentStatus] [nvarchar](500) NULL,
	[DisciplineNote] [nvarchar](500) NULL,
	[TeachingNote] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[IsLocked] [bit] NULL,
	[Signatory] [nvarchar](50) NULL,
 CONSTRAINT [PK_QLSoDauBai1] PRIMARY KEY CLUSTERED 
(
	[SoDauBaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSoDu]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSoDu](
	[StudentID] [nvarchar](50) NOT NULL,
	[CurrentBalance] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTaiLieu]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTaiLieu](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NULL,
	[Publisher] [nvarchar](50) NULL,
	[AuthorName] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Notes] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLTaiLieu] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLThacMac]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLThacMac](
	[QuestID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLThacMax] PRIMARY KEY CLUSTERED 
(
	[QuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLThanNhan]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLThanNhan](
	[RelativeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[Occupation] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[Notes] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_QLThanNhan1] PRIMARY KEY CLUSTERED 
(
	[RelativeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLThongBao]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLThongBao](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[SenDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Category] [nvarchar](50) NULL,
	[ClassID] [int] NULL,
 CONSTRAINT [PK_QLThongBao1] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTongHopDiem]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTongHopDiem](
	[TongHopID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NULL,
	[ClassID] [int] NULL,
	[SemesterID] [int] NULL,
	[DiemTB] [float] NULL,
	[HocLuc] [nvarchar](50) NULL,
	[IsLocked] [bit] NOT NULL,
	[IsPromoted] [bit] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsYearSummary] [bit] NULL,
	[SchoolYear] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TongHopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLVietdon]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLVietdon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NOT NULL,
	[RequestDate] [date] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ApprovalDate] [date] NULL,
	[Notes] [nvarchar](500) NULL,
	[AttachedFile] [nvarchar](255) NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCCCD]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCCCD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[IssueDate] [date] NULL,
	[IssuePlace] [nvarchar](100) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_StudentCCCD2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[Levels] [int] NULL,
	[ParentID] [int] NULL,
	[MenuOrder] [int] NULL,
	[Position] [int] NULL,
	[Icon] [nvarchar](100) NULL,
	[IDName] [nvarchar](100) NULL,
	[ItemTarget] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblMenu] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsersRoles]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsersRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_tblUsersRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserID], [UserName], [Email], [IsActive], [Password], [IsFirstLogin], [Date], [Count], [WebAuthnId], [WebAuthnPublicKey], [WebAuthnSignCount]) VALUES (1, N'admin', N'vvanh0304@gmail.com', 1, N'$2a$11$kiAPB99mKf90EUTJXMj5L.gxJBMzsKl1KRVUuRCxKp30ixPdOIi/6', 0, CAST(N'2025-11-17T15:15:21.300' AS DateTime), 1924, N'/aWYfind2+paRa4IgozXWrxS7cT4kn/J9ll7IdDQdxE=', N'pQECAyYgASFYIFuv+WXpaKmrEXBMbuQaJtEOzBvDpDFkVV4IM+IFsUaUIlggKCIv8Cs7AYoaqCvsou3/AyrQLIUYoZcN83pT7iAJ44w=', 1)
INSERT [dbo].[Account] ([UserID], [UserName], [Email], [IsActive], [Password], [IsFirstLogin], [Date], [Count], [WebAuthnId], [WebAuthnPublicKey], [WebAuthnSignCount]) VALUES (126, N'18190001', N'thaoptt@1994gmail.com', 1, N'$2a$11$XAbczxbuPA5UbMwYFkzOH.aIi9YZ/Y/Hs0H2BEYe2SNVNCjQX.q9S', 0, CAST(N'2026-03-08T11:19:24.070' AS DateTime), 156, NULL, NULL, NULL)
INSERT [dbo].[Account] ([UserID], [UserName], [Email], [IsActive], [Password], [IsFirstLogin], [Date], [Count], [WebAuthnId], [WebAuthnPublicKey], [WebAuthnSignCount]) VALUES (127, N'20200002', N'Anh2020@gmail.com', 1, N'$2a$11$D7rKxj2xnixOnNz/lZ6CT.jyH8DRk1u8gq2vanj54OWL1aGxvwjwy', 0, CAST(N'2026-01-06T11:02:09.697' AS DateTime), 7, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminMenu] ON 

INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (1, N'Trang chủ', 1, 0, 1, 1, N'class-0', N'Admin', N'Home', N'Index', N'	bi bi-house-door', N'class-0')
INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (2, N'Quản lý menu', 2, 48, 1, 1, N'class-1', N'Admin', N'Home', N'Index', N'	bi bi-list', N'class-1')
INSERT [dbo].[AdminMenu] ([AdminMenuID], [ItemName], [ItemLevel], [ParentLevel], [ItemOrder], [IsActive], [ItemTarget], [AreaName], [ControllerName], [ActionName], [Icon], [IdName]) VALUES (3, N'Thêm mới menu', 3, 2, 1, 1, N'them0', N'Admin', N'Menu', N'Create', N'bi bi-plus-circle', N'them00')
SET IDENTITY_INSERT [dbo].[AdminMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Pass_reset] ON 

INSERT [dbo].[Pass_reset] ([Reset_ID], [UserID], [Token], [CreateAT]) VALUES (1, 2, N'b7e37734-211e-4b46-a166-7e8a0bb2dc00', CAST(N'2025-06-07T22:52:39.457' AS DateTime))
INSERT [dbo].[Pass_reset] ([Reset_ID], [UserID], [Token], [CreateAT]) VALUES (2, 2, N'689221d4-0199-44e6-9999-823e6d6c1cf6', CAST(N'2025-06-07T23:11:38.303' AS DateTime))
INSERT [dbo].[Pass_reset] ([Reset_ID], [UserID], [Token], [CreateAT]) VALUES (3, 2, N'a79d84f0-b07e-45a2-ac41-45779507f73a', CAST(N'2025-06-11T09:09:38.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pass_reset] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentResponseModel] ON 

INSERT [dbo].[PaymentResponseModel] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [Success], [Token], [VnPayResponseCode], [Amount], [Date], [StudentID]) VALUES (1, N'Phạm Thi Anh Nạp tiền  học  | Mã học sinh: 24290001 1000000', N'15173965', N'638938931224704299', N'VNPay', N'd36eaa44-9da7-47c9-a209-1d2741668723', 1, NULL, N'00', CAST(1000000.00 AS Decimal(18, 2)), CAST(N'2025-09-19T15:39:20.910' AS DateTime), N'24290001')
INSERT [dbo].[PaymentResponseModel] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [Success], [Token], [VnPayResponseCode], [Amount], [Date], [StudentID]) VALUES (2, N'Phạm Thi Anh Nạp tiền  học  | Mã học sinh: 24290001 200000', N'15221319', N'638971842228968632', N'VNPay', N'2ce06c60-95e6-462f-bf38-9014e4d072b1', 1, NULL, N'00', CAST(200000.00 AS Decimal(18, 2)), CAST(N'2025-10-27T17:52:41.627' AS DateTime), N'24290001')
INSERT [dbo].[PaymentResponseModel] ([Id], [OrderDescription], [TransactionId], [OrderId], [PaymentMethod], [PaymentId], [Success], [Token], [VnPayResponseCode], [Amount], [Date], [StudentID]) VALUES (3, N' Thanh toán học phí cho HS 24290002 - Số tiền: 500.000₫ | Mã học sinh: 24290002 500000', N'15238093', N'638978896316466162', N'VNPay', N'f772d588-8f94-4db8-95aa-6eb1dafea956', 1, NULL, N'00', CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-11-04T21:47:55.557' AS DateTime), N'24290002')
SET IDENTITY_INSERT [dbo].[PaymentResponseModel] OFF
GO
SET IDENTITY_INSERT [dbo].[QLBaiDang] ON 

SET IDENTITY_INSERT [dbo].[QLBaiDang] OFF
GO
SET IDENTITY_INSERT [dbo].[QLBoMon] ON 

INSERT [dbo].[QLBoMon] ([department_ID], [department_name], [description], [IsActive]) VALUES (1, N'Tổ Toán ', N'Phụ trách giảng dạy các môn Toán học và Tin học; bồi dưỡng tư duy logic, kỹ năng tính toán và ứng dụng công nghệ thông tin cho học sinh.', 1)
INSERT [dbo].[QLBoMon] ([department_ID], [department_name], [description], [IsActive]) VALUES (2, N'Tổ Vật lý và Công nghệ', N'Phụ trách giảng dạy môn Vật lý và Công nghệ; giúp học sinh hiểu các nguyên lý khoa học, kỹ thuật và ứng dụng trong thực tiễn.', 1)
INSERT [dbo].[QLBoMon] ([department_ID], [department_name], [description], [IsActive]) VALUES (3, N'Tổ Hóa học và Sinh học', N'Phụ trách giảng dạy các môn Hóa học và Sinh học; trang bị kiến thức về khoa học tự nhiên, sự sống và môi trường.', 1)
SET IDENTITY_INSERT [dbo].[QLBoMon] OFF
GO
SET IDENTITY_INSERT [dbo].[QLDiem] ON 

SET IDENTITY_INSERT [dbo].[QLDiem] OFF
GO
SET IDENTITY_INSERT [dbo].[QLGiaoVien] ON 

INSERT [dbo].[QLGiaoVien] ([ID], [TeacherID], [FullName], [Birth], [Gender], [Address], [StatusTeacher], [CCCD], [Nation], [Religion], [GroupDV], [NumberPhone], [NumberBHXH], [IsActive], [department_ID], [Hamlet], [Commune], [Province], [Nationality], [Images], [PublicKey]) VALUES (1, N'18190001', N'Phạm Thị Thanh Thảo', CAST(N'1998-02-11T00:00:00.000' AS DateTime), N'Nữ', N'Xóm 9, Xã Nghĩa Hưng, Tỉnh Nghệ An, Việt Nam', N'Đang dạy', N'040922828281', N'Kinh', N'Không', N'Đã vào', N'0894748423', N'QP048493', 1, 1, N'Xóm 9', N'Xã Nghĩa Hưng', N'Tỉnh Nghệ An', N'Việt Nam', NULL, NULL)
INSERT [dbo].[QLGiaoVien] ([ID], [TeacherID], [FullName], [Birth], [Gender], [Address], [StatusTeacher], [CCCD], [Nation], [Religion], [GroupDV], [NumberPhone], [NumberBHXH], [IsActive], [department_ID], [Hamlet], [Commune], [Province], [Nationality], [Images], [PublicKey]) VALUES (2, N'20200002', N'Ngô Đình Anh', CAST(N'2000-10-10T00:00:00.000' AS DateTime), N'Nam', N'xóm 8, Xã Thọ Sơn, Tỉnh Nghệ An, Việt Nam', N'Đang dạy', N'040922828281', N'Kinh', N'Không', N'Đã vào', N'0937858693', N'QP040493', 1, 2, N'xóm 8', N'Xã Thọ Sơn', N'Tỉnh Nghệ An', N'Việt Nam', NULL, NULL)
INSERT [dbo].[QLGiaoVien] ([ID], [TeacherID], [FullName], [Birth], [Gender], [Address], [StatusTeacher], [CCCD], [Nation], [Religion], [GroupDV], [NumberPhone], [NumberBHXH], [IsActive], [department_ID], [Hamlet], [Commune], [Province], [Nationality], [Images], [PublicKey]) VALUES (3, N'20200003', N'Phạm Thế Bảo', CAST(N'1991-11-10T00:00:00.000' AS DateTime), N'Nam', N'42 Lê Lợi, Phường Lê Lợi, Tỉnh Nghệ An, Việt Nam', N'Đang dạy', N'040922828281', N'Kinh', N'Không', N'Đã vào', N'0382737481', N'QP041493', 1, 3, N'42 Lê Lợi', N'Phường Lê Lợi', N'Tỉnh Nghệ An', N'Việt Nam', NULL, NULL)
SET IDENTITY_INSERT [dbo].[QLGiaoVien] OFF
GO
INSERT [dbo].[QLGVMonHoc] ([TeacherID], [SubjectID]) VALUES (N'18210009', 11)
INSERT [dbo].[QLGVMonHoc] ([TeacherID], [SubjectID]) VALUES (N'18210010', 6)
INSERT [dbo].[QLGVMonHoc] ([TeacherID], [SubjectID]) VALUES (N'18210011', 9)
GO
SET IDENTITY_INSERT [dbo].[QLHocKy] ON 

INSERT [dbo].[QLHocKy] ([SemesterID], [semester_name], [semester_code], [IsActive]) VALUES (1, N'HK1', N'2024-2025', 1)
INSERT [dbo].[QLHocKy] ([SemesterID], [semester_name], [semester_code], [IsActive]) VALUES (2, N'HK2', N'2024-2025', 1)
INSERT [dbo].[QLHocKy] ([SemesterID], [semester_name], [semester_code], [IsActive]) VALUES (3, N'HK1', N'2025-2026', 1)
SET IDENTITY_INSERT [dbo].[QLHocKy] OFF
GO
SET IDENTITY_INSERT [dbo].[QLHocSinh] ON 

INSERT [dbo].[QLHocSinh] ([ID], [StudentID], [FullName], [Birth], [Gender], [Address], [Nation], [Religion], [NumberPhone], [IsActive], [Images], [Hamlet], [Commune], [Province], [Nationality], [StatusStudent]) VALUES (1, N'24290001', N'Phạm Thi Anh', CAST(N'2009-01-15' AS Date), N'Nữ', N'Việt Nam', N'Kinh', N'Không', N'0386938585', 1, NULL, NULL, NULL, NULL, NULL, N'Đang học')
INSERT [dbo].[QLHocSinh] ([ID], [StudentID], [FullName], [Birth], [Gender], [Address], [Nation], [Religion], [NumberPhone], [IsActive], [Images], [Hamlet], [Commune], [Province], [Nationality], [StatusStudent]) VALUES (2, N'24290002', N'Nguyễn Bảo Long', CAST(N'2009-01-04' AS Date), N'Nam', N'Xóm 5, Xã Bình Chuẩn, Tỉnh Nghệ An, Việt Nam', N'Dao', N'Không', N'0546575750', 1, NULL, N'Xóm 5', N'Xã Bình Chuẩn', N'Tỉnh Nghệ An', N'Việt Nam', N'Đang học')
INSERT [dbo].[QLHocSinh] ([ID], [StudentID], [FullName], [Birth], [Gender], [Address], [Nation], [Religion], [NumberPhone], [IsActive], [Images], [Hamlet], [Commune], [Province], [Nationality], [StatusStudent]) VALUES (3, N'24290003', N'Nguyễn Thị Linh', CAST(N'2009-02-06' AS Date), N'Nữ', N'Xóm 1, Xã Bình Sơn, Tỉnh Nghệ An, Việt Nam', N'Kinh', N'Không', N'0336464747', 1, NULL, N'Xóm 1', N'Xã Bình Sơn', N'Tỉnh Nghệ An', N'Việt Nam', N'Đang học')
SET IDENTITY_INSERT [dbo].[QLHocSinh] OFF
GO
SET IDENTITY_INSERT [dbo].[QLHocSinhLopHoc] ON 

INSERT [dbo].[QLHocSinhLopHoc] ([HocSinhLopHocID], [StudentID], [ClassID], [IsActive], [SemesterID], [CourseID], [IsPromoted]) VALUES (294, N'24290001', 2, 1, 3, 1, 1)
INSERT [dbo].[QLHocSinhLopHoc] ([HocSinhLopHocID], [StudentID], [ClassID], [IsActive], [SemesterID], [CourseID], [IsPromoted]) VALUES (295, N'24290001', 2, 1, 4, 1, 0)
INSERT [dbo].[QLHocSinhLopHoc] ([HocSinhLopHocID], [StudentID], [ClassID], [IsActive], [SemesterID], [CourseID], [IsPromoted]) VALUES (296, N'24290002', 2, 1, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[QLHocSinhLopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLHoSoHoa] ON 

INSERT [dbo].[QLHoSoHoa] ([ID], [StudentID], [DocumentType], [Attachment], [Notes], [IsActive]) VALUES (1, N'24290001', N'Giấy khai sinh', N'/uploads/hosohoa/2b2a44d5-c7ba-4783-bd0d-55b004a78750_khởi tạo dự án.pdf', N'', 1)
INSERT [dbo].[QLHoSoHoa] ([ID], [StudentID], [DocumentType], [Attachment], [Notes], [IsActive]) VALUES (2, N'24290001', N'Căn cước công dân', NULL, N'', 1)
INSERT [dbo].[QLHoSoHoa] ([ID], [StudentID], [DocumentType], [Attachment], [Notes], [IsActive]) VALUES (3, N'24290001', N'Hộ khẩu', NULL, N'', 1)
SET IDENTITY_INSERT [dbo].[QLHoSoHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[QLKhoaBieu] ON 

INSERT [dbo].[QLKhoaBieu] ([ScheduleID], [SemesterID], [ClassID], [SubjectID], [TeacherID], [Notes], [IsActive], [Startdate], [Enddate], [Period], [DayOfWeek], [Homeroomteacher], [WeekNumber]) VALUES (901, 3, 5, 3, N'20200003', NULL, 1, CAST(N'2025-10-05' AS Date), CAST(N'2025-12-21' AS Date), 4, 5, N'Phạm Thị Thanh Thảo', 6)
INSERT [dbo].[QLKhoaBieu] ([ScheduleID], [SemesterID], [ClassID], [SubjectID], [TeacherID], [Notes], [IsActive], [Startdate], [Enddate], [Period], [DayOfWeek], [Homeroomteacher], [WeekNumber]) VALUES (902, 3, 5, 3, N'20200003', NULL, 1, CAST(N'2025-10-05' AS Date), CAST(N'2025-12-21' AS Date), 4, 5, N'Phạm Thị Thanh Thảo', 7)
INSERT [dbo].[QLKhoaBieu] ([ScheduleID], [SemesterID], [ClassID], [SubjectID], [TeacherID], [Notes], [IsActive], [Startdate], [Enddate], [Period], [DayOfWeek], [Homeroomteacher], [WeekNumber]) VALUES (903, 3, 5, 3, N'20200003', NULL, 1, CAST(N'2025-10-05' AS Date), CAST(N'2025-12-21' AS Date), 4, 5, N'Phạm Thị Thanh Thảo', 8)
GO
SET IDENTITY_INSERT [dbo].[QLKhoaBieu] OFF
GO
SET IDENTITY_INSERT [dbo].[QLKhoaHoc] ON 

INSERT [dbo].[QLKhoaHoc] ([CourseID], [StartYear], [EndYear], [IsActive], [Cohort], [Status]) VALUES (1, 2024, 2027, 1, 60, N'Active')
INSERT [dbo].[QLKhoaHoc] ([CourseID], [StartYear], [EndYear], [IsActive], [Cohort], [Status]) VALUES (2, 2025, 2028, 1, 61, N'Active')
SET IDENTITY_INSERT [dbo].[QLKhoaHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLKhoi] ON 

INSERT [dbo].[QLKhoi] ([GradeLevelId], [GradeName], [Description], [IsActive]) VALUES (1, N'10', N'4 lớp', 1)
INSERT [dbo].[QLKhoi] ([GradeLevelId], [GradeName], [Description], [IsActive]) VALUES (2, N'11', N'4 lớp', 1)
INSERT [dbo].[QLKhoi] ([GradeLevelId], [GradeName], [Description], [IsActive]) VALUES (3, N'12', N'4 lớp', 1)
SET IDENTITY_INSERT [dbo].[QLKhoi] OFF
GO
SET IDENTITY_INSERT [dbo].[QLLichSuBD] ON 

INSERT [dbo].[QLLichSuBD] ([HistoryId], [StudentID], [PreviousBalance], [ChangeAmount], [NewBalance], [Description], [ChangedAt], [Object], [SemesterID]) VALUES (1, N'24290001', CAST(0.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Nạp tiền VNPay - GD: 15173965', CAST(N'2025-09-19T15:39:21.057' AS DateTime), NULL, NULL)
INSERT [dbo].[QLLichSuBD] ([HistoryId], [StudentID], [PreviousBalance], [ChangeAmount], [NewBalance], [Description], [ChangedAt], [Object], [SemesterID]) VALUES (2, N'24290001', CAST(1000000.00 AS Decimal(18, 2)), CAST(-400000.00 AS Decimal(18, 2)), CAST(600000.00 AS Decimal(18, 2)), N'Tự động trừ nợ (ID nợ 1): Học phí | Đã thanh toán toàn bộ ngày 19/09/2025', CAST(N'2025-09-19T15:43:17.830' AS DateTime), N'Không thuộc', 3)
INSERT [dbo].[QLLichSuBD] ([HistoryId], [StudentID], [PreviousBalance], [ChangeAmount], [NewBalance], [Description], [ChangedAt], [Object], [SemesterID]) VALUES (3, N'24290001', CAST(600000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(700000.00 AS Decimal(18, 2)), N'Trả lại tiền cho học sinh', CAST(N'2025-09-19T15:49:31.063' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[QLLichSuBD] OFF
GO
SET IDENTITY_INSERT [dbo].[QLLichSuMuonPhong] ON 

INSERT [dbo].[QLLichSuMuonPhong] ([RequestID], [UserName], [RoomID], [StartTime], [EndTime], [Status], [Purpose], [CreatedAt]) VALUES (6, N'24290001', 36, CAST(N'2026-02-05T12:03:00.000' AS DateTime), CAST(N'2026-02-05T15:03:00.000' AS DateTime), N'Returned', N'Học tập để thực hành hóa ', CAST(N'2026-02-05T12:03:22.460' AS DateTime))
INSERT [dbo].[QLLichSuMuonPhong] ([RequestID], [UserName], [RoomID], [StartTime], [EndTime], [Status], [Purpose], [CreatedAt]) VALUES (7, N'24290001', 1, CAST(N'2026-02-05T12:03:00.000' AS DateTime), CAST(N'2026-02-05T16:03:00.000' AS DateTime), N'Returned', N'Học tập ', CAST(N'2026-02-05T12:04:02.687' AS DateTime))
INSERT [dbo].[QLLichSuMuonPhong] ([RequestID], [UserName], [RoomID], [StartTime], [EndTime], [Status], [Purpose], [CreatedAt]) VALUES (8, N'24290002', 32, CAST(N'2026-02-05T17:17:00.000' AS DateTime), CAST(N'2026-02-05T17:30:00.000' AS DateTime), N'Returned', N'Mượn phòng để học tin học', CAST(N'2026-02-05T12:18:11.363' AS DateTime))
SET IDENTITY_INSERT [dbo].[QLLichSuMuonPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[QLLopHoc] ON 

INSERT [dbo].[QLLopHoc] ([ClassID], [ClassName], [GradeLevelId], [MaxStudents], [CurrentStudents], [IsActive], [CourseID], [SchoolYear]) VALUES (1, N'A1', 1, 50, 5, 1, 1, N'2024-2025')
INSERT [dbo].[QLLopHoc] ([ClassID], [ClassName], [GradeLevelId], [MaxStudents], [CurrentStudents], [IsActive], [CourseID], [SchoolYear]) VALUES (2, N'A1', 2, 50, 5, 1, 1, N'2025-2026')
INSERT [dbo].[QLLopHoc] ([ClassID], [ClassName], [GradeLevelId], [MaxStudents], [CurrentStudents], [IsActive], [CourseID], [SchoolYear]) VALUES (3, N'A1', 3, 50, NULL, 1, 1, N'2026-2027')
SET IDENTITY_INSERT [dbo].[QLLopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLMonHoc] ON 

INSERT [dbo].[QLMonHoc] ([SubjectID], [SubjectName], [NumberOfLesson], [Semester], [Link], [IsActive], [department_ID]) VALUES (1, N'Toán học', 90, N'1 và 2', NULL, 1, 1)
INSERT [dbo].[QLMonHoc] ([SubjectID], [SubjectName], [NumberOfLesson], [Semester], [Link], [IsActive], [department_ID]) VALUES (2, N'Ngữ văn', 90, N'1 và 2', NULL, 1, 4)
INSERT [dbo].[QLMonHoc] ([SubjectID], [SubjectName], [NumberOfLesson], [Semester], [Link], [IsActive], [department_ID]) VALUES (3, N'Ngoại ngữ', 90, N'1 và 2', NULL, 1, 5)
SET IDENTITY_INSERT [dbo].[QLMonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLPhanAnh] ON 

INSERT [dbo].[QLPhanAnh] ([ID], [StudentID], [SubmitDate], [Content], [AttachedFile]) VALUES (1, N'24290001', CAST(N'2025-08-27T20:49:16.847' AS DateTime), N'Điều hòa bị hư , không mát kính mong nhà trường khắc phục sự cố tại lớp máy tính 102', NULL)
INSERT [dbo].[QLPhanAnh] ([ID], [StudentID], [SubmitDate], [Content], [AttachedFile]) VALUES (2, N'24290001', CAST(N'2025-09-13T10:22:39.450' AS DateTime), N'Lan can trước cửa phòng b1-201 bị lỏng ốc', NULL)
INSERT [dbo].[QLPhanAnh] ([ID], [StudentID], [SubmitDate], [Content], [AttachedFile]) VALUES (3, N'24290002', CAST(N'2025-09-13T10:34:29.833' AS DateTime), N'Nhà vệ sinh quá bận ', NULL)
SET IDENTITY_INSERT [dbo].[QLPhanAnh] OFF
GO
SET IDENTITY_INSERT [dbo].[QLPhanCongDayHoc] ON 

INSERT [dbo].[QLPhanCongDayHoc] ([AssignmentID], [TeacherID], [SubjectID], [ClassID], [SemesterID], [IsActive], [IsHomeroomTeacher]) VALUES (205, N'20200005', 3, 2, 4, 1, 0)
INSERT [dbo].[QLPhanCongDayHoc] ([AssignmentID], [TeacherID], [SubjectID], [ClassID], [SemesterID], [IsActive], [IsHomeroomTeacher]) VALUES (206, N'18190001', 1, 2, 4, 1, 1)
INSERT [dbo].[QLPhanCongDayHoc] ([AssignmentID], [TeacherID], [SubjectID], [ClassID], [SemesterID], [IsActive], [IsHomeroomTeacher]) VALUES (207, N'20200002', 4, 2, 4, 1, 0)
SET IDENTITY_INSERT [dbo].[QLPhanCongDayHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLPhatSinh] ON 

INSERT [dbo].[QLPhatSinh] ([TransactionId], [StudentID], [AmountOut], [TransactionType], [Description], [CreatedAt], [Status], [AmountPaid], [DiscountRate], [Object], [SemesterID]) VALUES (1, N'24290001', CAST(400000.00 AS Decimal(18, 2)), N'Thu', N'Học phí | Đã thanh toán toàn bộ ngày 19/09/2025', CAST(N'2025-09-19T15:42:36.773' AS DateTime), 1, NULL, CAST(0.00 AS Decimal(5, 2)), N'Không thuộc', 3)
INSERT [dbo].[QLPhatSinh] ([TransactionId], [StudentID], [AmountOut], [TransactionType], [Description], [CreatedAt], [Status], [AmountPaid], [DiscountRate], [Object], [SemesterID]) VALUES (2, N'24290002', CAST(300000.00 AS Decimal(18, 2)), N'Thu', N'Tiền học thêm ', CAST(N'2025-11-04T21:36:11.697' AS DateTime), 1, CAST(300000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), N'Không thuộc', 3)
INSERT [dbo].[QLPhatSinh] ([TransactionId], [StudentID], [AmountOut], [TransactionType], [Description], [CreatedAt], [Status], [AmountPaid], [DiscountRate], [Object], [SemesterID]) VALUES (3, N'25290011', CAST(600000.00 AS Decimal(18, 2)), N'Thu', N'Bảo hiểm y tế', CAST(N'2025-11-04T21:41:02.707' AS DateTime), 0, NULL, CAST(0.00 AS Decimal(5, 2)), N'Không thuộc', 3)
SET IDENTITY_INSERT [dbo].[QLPhatSinh] OFF
GO
SET IDENTITY_INSERT [dbo].[QLPhongHoc] ON 

INSERT [dbo].[QLPhongHoc] ([RoomID], [RoomName], [Capacity], [IsActive]) VALUES (1, N'A1_101', 50, 1)
INSERT [dbo].[QLPhongHoc] ([RoomID], [RoomName], [Capacity], [IsActive]) VALUES (4, N'A1_102', 50, 1)
INSERT [dbo].[QLPhongHoc] ([RoomID], [RoomName], [Capacity], [IsActive]) VALUES (5, N'A1_103', 50, 1)
SET IDENTITY_INSERT [dbo].[QLPhongHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[QLSoDauBai] ON 

INSERT [dbo].[QLSoDauBai] ([SoDauBaiID], [ScheduleID], [TeachingDate], [LessonContent], [StudentStatus], [DisciplineNote], [TeachingNote], [CreatedAt], [IsLocked], [Signatory]) VALUES (7, 2303, CAST(N'2026-01-31' AS Date), N'Hoạt động chào cờ', N'Nguyễn Bảo Long (Ốm)', N'9.9', N'Tốt', CAST(N'2026-01-31T04:04:59.340' AS DateTime), 0, N'18190001')
INSERT [dbo].[QLSoDauBai] ([SoDauBaiID], [ScheduleID], [TeachingDate], [LessonContent], [StudentStatus], [DisciplineNote], [TeachingNote], [CreatedAt], [IsLocked], [Signatory]) VALUES (12, 2393, CAST(N'2026-01-31' AS Date), N'Chạy bền', N'Nguyễn Long Thành (Nhập viện)', N'9.9', N'Tốt', CAST(N'2026-01-31T14:40:35.590' AS DateTime), 0, N'admin')
INSERT [dbo].[QLSoDauBai] ([SoDauBaiID], [ScheduleID], [TeachingDate], [LessonContent], [StudentStatus], [DisciplineNote], [TeachingNote], [CreatedAt], [IsLocked], [Signatory]) VALUES (13, 2483, CAST(N'2026-01-31' AS Date), N'Chạy bền', N'Nguyễn Bảo Long (Ốm); Nguyễn Long Thành (Ốm)', N'9.9', N'Tốt', CAST(N'2026-01-31T14:55:24.667' AS DateTime), 0, N'admin')
SET IDENTITY_INSERT [dbo].[QLSoDauBai] OFF
GO
INSERT [dbo].[QLSoDu] ([StudentID], [CurrentBalance]) VALUES (N'24290001', CAST(450000.00 AS Decimal(18, 2)))
INSERT [dbo].[QLSoDu] ([StudentID], [CurrentBalance]) VALUES (N'24290002', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[QLSoDu] ([StudentID], [CurrentBalance]) VALUES (N'24290003', CAST(500000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[QLTaiLieu] ON 

INSERT [dbo].[QLTaiLieu] ([DocumentID], [SubjectName], [Publisher], [AuthorName], [Location], [Notes], [IsActive]) VALUES (1, N'Toán nâng cao 6', N'Bộ giáo dục', N'Trần Duy Hoa', N'Kệ 1 dãy A', N'KHTN', 1)
INSERT [dbo].[QLTaiLieu] ([DocumentID], [SubjectName], [Publisher], [AuthorName], [Location], [Notes], [IsActive]) VALUES (2, N'Lập trình c cơ bản', N'Đại học Hà Nội', N'Phạm Văn Cường', N'Kệ 2 dãy A', N'Tin học', 1)
INSERT [dbo].[QLTaiLieu] ([DocumentID], [SubjectName], [Publisher], [AuthorName], [Location], [Notes], [IsActive]) VALUES (3, N'Lập trình c# cơ bản', N'Đại học Hà Nội', N'Lưu Trung', N'Kệ 3 dãy A', N'Tin học', 1)
SET IDENTITY_INSERT [dbo].[QLTaiLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[QLThacMac] ON 

INSERT [dbo].[QLThacMac] ([QuestID], [Title], [Content], [IsActive]) VALUES (1, N'Quên mật khẩu, phải làm sao?', N'Bạn có thể tự lấy lại mật khẩu bằng cách nhấn quyên mật khẩu sau đó nhập email và kiểm tra xem rồi nhấn vào đó để đổi hoặc liên hệ nhà trường.', 1)
INSERT [dbo].[QLThacMac] ([QuestID], [Title], [Content], [IsActive]) VALUES (2, N'Cách đăng ký mượn phòng?', N'Bạn  đăng nhập vào và nhấn vào Đăng ký mượn phòng sau đó tạo mới và điền thông tin.', 1)
INSERT [dbo].[QLThacMac] ([QuestID], [Title], [Content], [IsActive]) VALUES (3, N'Tôi có thể chỉnh sửa thông tin cá nhân không?', N'Có, bạn đăng nhập, vào mục "Tài khoản" và chỉnh sửa thông tin cá nhân.', 1)
SET IDENTITY_INSERT [dbo].[QLThacMac] OFF
GO
SET IDENTITY_INSERT [dbo].[QLThanNhan] ON 

INSERT [dbo].[QLThanNhan] ([RelativeID], [StudentID], [FullName], [Relationship], [Occupation], [Phone], [Address], [Email], [Notes], [IsActive]) VALUES (1, N'24290001', N'Phạm Quốc Bảo', N'Cha con', N'Nông nghiệp', N'0948095859', N'Xóm 11, Xã Anh Sơn, Tỉnh Nghệ An, Việt Nam', NULL, NULL, 1)
INSERT [dbo].[QLThanNhan] ([RelativeID], [StudentID], [FullName], [Relationship], [Occupation], [Phone], [Address], [Email], [Notes], [IsActive]) VALUES (2, N'24290001', N'Nguyễn Thị Hoàn', N'Mẹ ruột', N'Làm nông', N'0948595859', N'xóm 11, Xã Anh Sơn, Tỉnh Nghệ An, Việt Nam', NULL, NULL, 1)
INSERT [dbo].[QLThanNhan] ([RelativeID], [StudentID], [FullName], [Relationship], [Occupation], [Phone], [Address], [Email], [Notes], [IsActive]) VALUES (3, N'24290002', N'Nguyễn Bảo Thành', N'Bố ruột', N'Giáo viên', N'0965685113', N'Xóm 8, Anh Sơn, Tỉnh Nghệ An, Việt Nam', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[QLThanNhan] OFF
GO
SET IDENTITY_INSERT [dbo].[QLThongBao] ON 

INSERT [dbo].[QLThongBao] ([NotificationID], [Title], [Content], [CreateDate], [SenDate], [IsActive], [Category], [ClassID]) VALUES (1, N'Học tập', N'Sáng mai 25/09/2025 tiết 3-4-5 học chủ đề an toàn giao thông', CAST(N'2025-09-24T22:59:59.567' AS DateTime), NULL, 1, N'Nhắc nhớ', NULL)
INSERT [dbo].[QLThongBao] ([NotificationID], [Title], [Content], [CreateDate], [SenDate], [IsActive], [Category], [ClassID]) VALUES (2, N'Các bạn đọc file và làm ', N'bai-trac-nghiem-so-03p4.pdf', CAST(N'2025-09-24T23:07:00.083' AS DateTime), NULL, 1, N'Nhắc nhở', NULL)
SET IDENTITY_INSERT [dbo].[QLThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[QLThongBaoClass] ON 

INSERT [dbo].[QLThongBaoClass] ([ID], [NotificationID], [ClassID], [IsActive], [Title], [Content], [SenDate], [UserName]) VALUES (1, 0, 1, 1, N'Học tập', N'Sáng mai 25/09/2025 tiết 3-4-5 học chủ đề an toàn giao thông', CAST(N'2025-09-24T23:00:03.437' AS DateTime), N'admin')
INSERT [dbo].[QLThongBaoClass] ([ID], [NotificationID], [ClassID], [IsActive], [Title], [Content], [SenDate], [UserName]) VALUES (2, 0, 1, 1, N'Các bạn đọc file và làm ', N'bai-trac-nghiem-so-03p4.pdf', CAST(N'2025-09-24T23:07:04.113' AS DateTime), N'18190001')
INSERT [dbo].[QLThongBaoClass] ([ID], [NotificationID], [ClassID], [IsActive], [Title], [Content], [SenDate], [UserName]) VALUES (3, 0, 1, 1, N'Học tập', N'Sáng mai 25/09/2025 tiết 3-4-5 học chủ đề an toàn giao thông', CAST(N'2025-10-11T22:25:36.973' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[QLThongBaoClass] OFF
GO
SET IDENTITY_INSERT [dbo].[QLTongHopDiem] ON 

INSERT [dbo].[QLTongHopDiem] ([TongHopID], [StudentID], [ClassID], [SemesterID], [DiemTB], [HocLuc], [IsLocked], [IsPromoted], [CreatedDate], [IsYearSummary], [SchoolYear]) VALUES (305, N'24290001', 2, 3, 9.3, N'Xuất sắc', 1, 1, CAST(N'2026-02-06T03:45:27.713' AS DateTime), 0, N'2025-2026')
INSERT [dbo].[QLTongHopDiem] ([TongHopID], [StudentID], [ClassID], [SemesterID], [DiemTB], [HocLuc], [IsLocked], [IsPromoted], [CreatedDate], [IsYearSummary], [SchoolYear]) VALUES (306, N'24290002', 2, 3, 8.7, N'Giỏi', 1, 1, CAST(N'2026-02-06T03:45:27.713' AS DateTime), 0, N'2025-2026')
INSERT [dbo].[QLTongHopDiem] ([TongHopID], [StudentID], [ClassID], [SemesterID], [DiemTB], [HocLuc], [IsLocked], [IsPromoted], [CreatedDate], [IsYearSummary], [SchoolYear]) VALUES (307, N'24290003', 2, 3, 8.4, N'Giỏi', 1, 1, CAST(N'2026-02-06T03:45:27.717' AS DateTime), 0, N'2025-2026')
SET IDENTITY_INSERT [dbo].[QLTongHopDiem] OFF
GO
SET IDENTITY_INSERT [dbo].[QLVietdon] ON 

INSERT [dbo].[QLVietdon] ([ID], [StudentID], [RequestDate], [StartDate], [EndDate], [Reason], [ApprovalDate], [Notes], [AttachedFile], [IsActive]) VALUES (3, N'24290001', CAST(N'2025-06-22' AS Date), CAST(N'2025-06-23' AS Date), CAST(N'2025-06-25' AS Date), N'Gãy chân', CAST(N'2026-01-20' AS Date), NULL, N'NgocAnh.docx', 1)
INSERT [dbo].[QLVietdon] ([ID], [StudentID], [RequestDate], [StartDate], [EndDate], [Reason], [ApprovalDate], [Notes], [AttachedFile], [IsActive]) VALUES (4, N'24290001', CAST(N'2025-06-22' AS Date), CAST(N'2025-06-28' AS Date), CAST(N'2025-06-29' AS Date), N'Thi học sinh giỏi', CAST(N'2025-06-26' AS Date), NULL, N'Bài tập nhóm Số 2.pdf', 1)
INSERT [dbo].[QLVietdon] ([ID], [StudentID], [RequestDate], [StartDate], [EndDate], [Reason], [ApprovalDate], [Notes], [AttachedFile], [IsActive]) VALUES (5, N'24290002', CAST(N'2025-06-26' AS Date), CAST(N'2025-06-11' AS Date), CAST(N'2025-06-13' AS Date), N'Đi thi học sinh giỏi', CAST(N'2025-06-26' AS Date), NULL, N'NgocAnh.pdf', 1)
SET IDENTITY_INSERT [dbo].[QLVietdon] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentCCCD] ON 

INSERT [dbo].[StudentCCCD] ([ID], [StudentID], [CCCD], [IssueDate], [IssuePlace], [Status]) VALUES (3, N'24290002', N'0402009', CAST(N'2022-04-04' AS Date), N'Nghệ An', 1)
INSERT [dbo].[StudentCCCD] ([ID], [StudentID], [CCCD], [IssueDate], [IssuePlace], [Status]) VALUES (4, N'24290005', N'0402009', CAST(N'2022-04-04' AS Date), N'Nghệ An', 1)
INSERT [dbo].[StudentCCCD] ([ID], [StudentID], [CCCD], [IssueDate], [IssuePlace], [Status]) VALUES (5, N'24290004', N'0402009', CAST(N'2022-04-04' AS Date), N'Nghệ An', 1)
SET IDENTITY_INSERT [dbo].[StudentCCCD] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMenu] ON 

INSERT [dbo].[tblMenu] ([MenuID], [MenuName], [IsActive], [ControllerName], [ActionName], [Levels], [ParentID], [MenuOrder], [Position], [Icon], [IDName], [ItemTarget]) VALUES (1, N'Trang chủ', 1, N'Home', N'Index', 1, 0, 1, 1, N'fas fa-home', NULL, NULL)
INSERT [dbo].[tblMenu] ([MenuID], [MenuName], [IsActive], [ControllerName], [ActionName], [Levels], [ParentID], [MenuOrder], [Position], [Icon], [IDName], [ItemTarget]) VALUES (2, N'Hồ sơ người học', 1, N'HoSo', N'Index', 1, 0, 2, 1, N'fas fa-id-card', NULL, NULL)
INSERT [dbo].[tblMenu] ([MenuID], [MenuName], [IsActive], [ControllerName], [ActionName], [Levels], [ParentID], [MenuOrder], [Position], [Icon], [IDName], [ItemTarget]) VALUES (3, N'Tra cứu', 1, N'Home', N'Index', 1, 0, 3, 1, N'fas fa-search', N'component-', N'component-')
SET IDENTITY_INSERT [dbo].[tblMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoles] ON 

INSERT [dbo].[tblRoles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[tblRoles] ([RoleID], [RoleName]) VALUES (2, N'Student')
INSERT [dbo].[tblRoles] ([RoleID], [RoleName]) VALUES (3, N'Teacher')
SET IDENTITY_INSERT [dbo].[tblRoles] OFF
GO
INSERT [dbo].[tblUsersRoles] ([UserID], [RoleID]) VALUES (1, 1)
INSERT [dbo].[tblUsersRoles] ([UserID], [RoleID]) VALUES (2, 2)
INSERT [dbo].[tblUsersRoles] ([UserID], [RoleID]) VALUES (3, 2)
GO
ALTER TABLE [dbo].[QLDiem] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[QLHocSinhLopHoc] ADD  CONSTRAINT [DF_QLHocSinhLopHoc1_IsActive_1]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QLHoSoHoa] ADD  CONSTRAINT [DF_QLHoSoHoa12_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QLLichSuBD] ADD  CONSTRAINT [DF_QLLichSuBD2_ChangedAt]  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[QLLichSuMuonPhong] ADD  CONSTRAINT [DF_QLLichSuMuonPhong1_Status]  DEFAULT ('Approved') FOR [Status]
GO
ALTER TABLE [dbo].[QLLichSuMuonPhong] ADD  CONSTRAINT [DF_QLLichSuMuonPhong1_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QLPhanCongDayHoc] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QLPhatSinh] ADD  CONSTRAINT [DF_QLPhatSinh1_CreatedAt_1]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QLPhongHoc] ADD  CONSTRAINT [DF_QLPhongHoc1_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QLSoDauBai] ADD  CONSTRAINT [DF_QLSoDauBai1_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QLSoDauBai] ADD  CONSTRAINT [DF_QLSoDauBai1_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[QLSoDu] ADD  DEFAULT ((0)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[QLTongHopDiem] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[QLTongHopDiem] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[sp_KhoaSoDiem]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================
-- 1. Khóa sổ điểm học kỳ
-- ============================
CREATE PROCEDURE [dbo].[sp_KhoaSoDiem]
    @ClassID INT,
    @SemesterID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE d
    SET d.IsLocked = 1
    FROM QLDiem d
    INNER JOIN QLHocSinhLopHoc hslh ON d.StudentID = hslh.StudentID
    WHERE hslh.ClassID = @ClassID
      AND d.SemesterID = @SemesterID;

    UPDATE th
    SET th.IsLocked = 1
    FROM QLTongHopDiem th
    INNER JOIN QLHocSinhLopHoc hslh ON th.StudentID = hslh.StudentID
    WHERE hslh.ClassID = @ClassID
      AND th.SemesterID = @SemesterID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MoKhoaSoDiem]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================
-- 2. Mở khóa sổ điểm học kỳ
-- ============================
CREATE PROCEDURE [dbo].[sp_MoKhoaSoDiem]
    @ClassID INT,
    @SemesterID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE d
    SET d.IsLocked = 0
    FROM QLDiem d
    INNER JOIN QLHocSinhLopHoc hslh ON d.StudentID = hslh.StudentID
    WHERE hslh.ClassID = @ClassID
      AND d.SemesterID = @SemesterID;

    UPDATE th
    SET th.IsLocked = 0
    FROM QLTongHopDiem th
    INNER JOIN QLHocSinhLopHoc hslh ON th.StudentID = hslh.StudentID
    WHERE hslh.ClassID = @ClassID
      AND th.SemesterID = @SemesterID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TongHopDiemCaNam]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================
-- 4. Tổng hợp điểm cả năm
-- ============================
CREATE PROCEDURE [dbo].[sp_TongHopDiemCaNam]
    @ClassID INT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE QLTongHopDiem AS target
    USING (
        SELECT 
            hslh.StudentID,
            AVG(ISNULL(th.DiemTB,0)) AS DiemTBCaNam,
            CASE 
                WHEN AVG(ISNULL(th.DiemTB,0)) < 5 THEN N'Yếu'
                WHEN AVG(ISNULL(th.DiemTB,0)) < 6.5 THEN N'Trung bình'
                WHEN AVG(ISNULL(th.DiemTB,0)) < 8 THEN N'Khá'
                WHEN AVG(ISNULL(th.DiemTB,0)) < 9 THEN N'Giỏi'
                ELSE N'Xuất sắc'
            END AS HocLuc
        FROM QLHocSinhLopHoc hslh
        LEFT JOIN QLTongHopDiem th 
            ON th.StudentID = hslh.StudentID
            AND th.SemesterID IS NOT NULL
        WHERE hslh.ClassID = @ClassID
        GROUP BY hslh.StudentID
    ) AS src
    ON target.StudentID = src.StudentID
       AND target.SemesterID IS NULL
    WHEN MATCHED THEN
        UPDATE SET DiemTB = src.DiemTBCaNam, HocLuc = src.HocLuc, CreatedDate = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (StudentID, ClassID, DiemTB, HocLuc, CreatedDate)
        VALUES (src.StudentID, @ClassID, src.DiemTBCaNam, src.HocLuc, GETDATE());

    -- Cập nhật trạng thái học sinh
    UPDATE hs
    SET hs.StatusStudent =
        CASE 
            WHEN th.DiemTB >= 5 THEN N'Lên lớp'
            ELSE N'Ở lại'
        END
    FROM QLHocSinh hs
    INNER JOIN QLHocSinhLopHoc hslh ON hs.StudentID = hslh.StudentID
    INNER JOIN QLTongHopDiem th ON hs.StudentID = th.StudentID
    WHERE hslh.ClassID = @ClassID
      AND th.SemesterID IS NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TongHopDiemHocKy]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================
-- 3. Tổng hợp điểm học kỳ
-- ============================
CREATE PROCEDURE [dbo].[sp_TongHopDiemHocKy]
    @ClassID INT,
    @SemesterID INT
AS
BEGIN
    SET NOCOUNT ON;

    MERGE QLTongHopDiem AS target
    USING (
        SELECT 
            d.StudentID,
            AVG(ISNULL(d.AverageScore, 0)) AS DiemTB,
            CASE 
                WHEN AVG(ISNULL(d.AverageScore,0)) < 5 THEN N'Yếu'
                WHEN AVG(ISNULL(d.AverageScore,0)) < 6.5 THEN N'Trung bình'
                WHEN AVG(ISNULL(d.AverageScore,0)) < 8 THEN N'Khá'
                WHEN AVG(ISNULL(d.AverageScore,0)) < 9 THEN N'Giỏi'
                ELSE N'Xuất sắc'
            END AS HocLuc
        FROM QLDiem d
        INNER JOIN QLHocSinhLopHoc hslh ON d.StudentID = hslh.StudentID
        WHERE hslh.ClassID = @ClassID
          AND d.SemesterID = @SemesterID
        GROUP BY d.StudentID
    ) AS src
    ON target.StudentID = src.StudentID
       AND target.SemesterID = @SemesterID
    WHEN MATCHED THEN
        UPDATE SET DiemTB = src.DiemTB, HocLuc = src.HocLuc, CreatedDate = GETDATE()
    WHEN NOT MATCHED THEN
        INSERT (StudentID, ClassID, SemesterID, DiemTB, HocLuc, CreatedDate)
        VALUES (src.StudentID, @ClassID, @SemesterID, src.DiemTB, src.HocLuc, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XetLenLop]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================
-- 5. Xét lên lớp (trung bình >=5 => lên lớp)
-- ============================
CREATE PROCEDURE [dbo].[sp_XetLenLop]
    @ClassID INT,
    @SemesterID INT = NULL -- NULL => xét cả năm
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật StatusStudent và IsPromoted trong QLTongHopDiem
    UPDATE th
    SET 
        th.IsPromoted = CASE WHEN tavg.AvgDiem >= 5 THEN 1 ELSE 0 END
    FROM QLTongHopDiem th
    INNER JOIN (
        SELECT StudentID, ClassID, AVG(DiemTB) AS AvgDiem
        FROM QLTongHopDiem
        WHERE StudentID IN (
            SELECT StudentID 
            FROM QLHocSinhLopHoc 
            WHERE ClassID = @ClassID
        )
        AND (
            (@SemesterID IS NULL AND SemesterID IS NULL) -- Tổng hợp cả năm
            OR (@SemesterID IS NOT NULL AND SemesterID = @SemesterID) -- Chỉ học kỳ cụ thể
        )
        GROUP BY StudentID, ClassID
    ) AS tavg
        ON th.StudentID = tavg.StudentID AND th.ClassID = tavg.ClassID
    WHERE th.ClassID = @ClassID
    AND (@SemesterID IS NULL OR th.SemesterID = @SemesterID);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XetLenLopTheoKy]    Script Date: 3/27/2026 11:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================
-- 5. Xét lên lớp theo học kỳ
-- ============================
CREATE PROCEDURE [dbo].[sp_XetLenLopTheoKy]
    @ClassID INT,
    @SemesterID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE hs
    SET hs.StatusStudent =
        CASE 
            WHEN th.DiemTB >= 5 THEN N'Lên lớp'
            ELSE N'Ở lại'
        END
    FROM QLHocSinh hs
    INNER JOIN QLHocSinhLopHoc hslh ON hs.StudentID = hslh.StudentID
    INNER JOIN QLTongHopDiem th 
        ON hs.StudentID = th.StudentID
       AND th.SemesterID = @SemesterID
    WHERE hslh.ClassID = @ClassID;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "QLThongBaoClass"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 311
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "QLLopHoc"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 308
               Right = 490
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewThongBao'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'viewThongBao'
GO
